<% content_for :head do %>
	<%= stylesheet_link_tag 'static_pages' %>
<% end %>

<% provide(:title, 'Terms of use') %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="static-content">
			<div class="static-selector">
				<ul>
					<%= link_to(raw("<li class=\"static-selected\">Advertise</li>"), advertise_path) %>
					<%= link_to(raw("<li>Partners</li>"), partners_path) %>
					<%= link_to(raw("<li>Managers</li>"), managers_path) %>
				</ul>
			</div>
			<!-- Content -->
			<h1>Advertise with us</h1>

			<p>There are a number of advertising options avaiable on BreezeDigs, including leaderboards, skyscrapers, and rectangles.</p>

			<p>If you are interested in reaching our community of renters, please email us <%= link_to "here", contact_path %>.</p>

			<br><h1>List with us</h1>

			<p>Renters who come to BreezeDigs come because they are in the process of finding a new home and want helpful, objective information about potential options.</p>

			<p>To facilitate their search, BreezeDigs provides listings from agents and building managers of available units as well as recommendations of providers such as moving services.</p>

			<p>If you are interested in listing your units or relevant services on BreezeDigs <%= link_to "here", contact_path %>.</p>

		</div>
		<div class="em-buffer-5"></div>
		<div class="em-buffer-3"></div>
	</div>
</div>