<% content_for :head do %>
	<%= stylesheet_link_tag 'static_pages' %>
<% end %>

<% provide(:title, 'Community Guidelines') %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="static-content">
			<div class="static-selector">
				<ul>
					<%= link_to(raw("<li>Terms of Use</li>"), terms_path) %>
					<%= link_to(raw("<li>Privacy Policy</li>"), privacy_path) %>
					<%= link_to(raw("<li class=\"static-selected\">Review Guidelines</li>"), guidelines_path) %>
				</ul>
			</div>
			<!-- Content -->
			<h1>Review Guidelines</h1>

			<p>Since the reviews that users like you submit are the foundation of what we do, we have created a few guidelines to help our users submit helpful, objective reviews. We expect all our users to follow these guidelines, as well our <%= link_to "Terms of Use", terms_path %> and <%= link_to "Privacy Policy", privacy_path %>, and we reserve the right to reject any reviews and/or terminate any user account that we feel violates the guidelines below:<br>

			<ul>
			<li><p><span>Give the inside scoop</span> — The most important aspect of writing a genuine review is making sure to give information that only a current or recent tenant could provide. We make sure to screen reviews for legitimacy and will delete any reviews we believe are not submitted by real tenants</p></li>

			<li><p><span>Be balanced</span> — There are pros and cons to living in any building and we encourage our users to present both sides. This is especially true in cases of bad experiences where users may feel like venting, but we feel a balanced approach is the most useful for prospective renters</p></li>

			<li><p><span>Keep your cool</span> — Sometimes, people can have very bad experiences with their rental situations and it's easy to want to vent. Please keep calm and avoid aggressive, discriminatory, or defamatory reviews and personal attacks. We want to foster a cosntructive dialogue around apartment living and staying calm is much more conducive to that.</p></li>

			<li><p><span>Be helpful</span> — BreezeDigs is about helping others in their apartment finding process. As such, try not to make your reviews too personal or specific to your own situation. Even better, offer advice to future tenants about how they might avoid any pitfalls or setbacks you may have encountered.</p></li>

			<li><p><span>Grammar matters</span> — While we don't expect reviews to use GRE vocab and be written with perfect grammar, we do expect reviews to be well written and grammatically correct. Watch out for poor grammar and/or spelling, or improper formatting, capitalization, and punctuation. </p></li>
			</ul>

			<p>We appreciate all your efforts to stay within these guidelines. Our mission to empower renters and help them avoid rental pitfalls relies on the cooperation of our users and community. In return, we promise to always be on the side of the renters, present objective reviews, and al strive to improve. Together, we will make finding a place to live a breeze.</p>

		</div>
		<div class="em-buffer-5"></div>
		<div class="em-buffer-3"></div>
	</div>
</div>