<% content_for :head do %>
	<%= stylesheet_link_tag 'home' %>
<% end %>

<% provide(:title, 'Home') %>

<%= render 'layouts/hero' %>

<!-- Home Content Starts Here -->
<div class="home-content-area">
	<div class="bg-texture-wrapper">
	<div class="container">

		<div class="recent-reviews">
			<h3>Recent reviews</h3>
			<ul>
				<% @recent_reviews.each do |review| %>
					<li>
						<h5><%= review.building.name %> | <span><%= review.building.city.name %> - <%= review.building.address %>, <%= review.building.zip %></span></h5>
						<h6><%= review.created_at.strftime("%I:%M %p %d %b %Y") %><h6>
						<p><span>Pros:</span> <%= review.pros %></p>
						<p><span>Cons:</span> <%= review.cons %></p>
					</li>
				<% end %>
			</ul>
		</div>

	</div>
</div>
</div>
			