<% content_for :head do %>
	<%= stylesheet_link_tag 'static_pages' %>
<% end %>

<% provide(:title, 'Partnerships') %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="static-content">
			<div class="static-selector">
				<ul>
					<%= link_to(raw("<li>Advertise</li>"), advertise_path) %>
					<%= link_to(raw("<li class=\"static-selected\">Partners</li>"), partners_path) %>
					<%= link_to(raw("<li>Managers</li>"), managers_path) %>
				</ul>
			</div>
			<!-- Content -->
			<h1>Partnerships</h1>
			<p>Our goal with BreezeDigs is to help make the rental process easier and more transparent. To that end, we are always interested in strategic partnerships that can better achieve that goal.</p>
			
			<br><h1>How to get in touch</h1>

			<p>If you are interested in exploring a strategic partnership with us, please send us a message <%= link_to "here", contact_path %>.</p>

		</div>
		<div class="em-buffer-5"></div>
		<div class="em-buffer-3"></div>
	</div>
</div>