<div class="profile-header">

		<div class="buffer"></div><div class="buffer-small"></div>	
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
	
		<ul class="profile-header no-wrap">
			<li id="avatar">
				<%= image_tag @user.avatar.url, size: "100x100" %>
			</li>

			<li id="user-section">
				<h1><%= @user.first_name %></h1>
				<h2><%= @user.last_name %></h2>
			</li>

			<li id="user-links">
				<ul class="profile-nav">
					<li><%= link_to "My Reviews", "#", class: "prof-btn selected-btn" %></li>
					<li><%= link_to "My Move", "#", class: "prof-btn" %></li>
					<li><%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "prof-btn" %></li>
					<li><%= link_to "Settings", "#", class: "prof-btn" %></li>
				</ul>
			</li>
		
		</ul>
			
	</div>