<% content_for :head do %>
  <%= stylesheet_link_tag 'users' %>
<% end %>

<% provide(:title, 'My Account') %>

<div class="container">
  <%= render 'users/profile_header' %>
        <!-- Code snipped from partial above to be able to manually adjust which buttons i highlgihted depending on the view -->
        <li id="user-links">
        <ul class="profile-nav">
          <li>
            <%= link_to "My Account", user_path(current_user), class: "prof-btn" %>
          </li>
          <li>
            <%= link_to "Edit Profile & Settings", edit_user_path(current_user), class: "prof-btn selected-btn" %>
          </li>
        </ul>
      </li>
    </ul>
  </div>

    <div class="edit-box" id="left">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :first_name, class: "field-label" %><br />
        <%= f.email_field :first_name, :autofocus => true, class: "edit-field" %></div>

        <div><%= f.label :last_name, class: "field-label" %><br />
        <%= f.email_field :last_name, :autofocus => true, class: "edit-field" %></div>

        <div><%= f.label :email, class: "field-label" %><br />
        <%= f.email_field :email, :autofocus => true, class: "edit-field" %></div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div><%= f.label :password, class: "field-label-special" %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off", class: "edit-field" %></div>

        <div><%= f.label :password_confirmation, class: "field-label" %><br />
        <%= f.password_field :password_confirmation, class: "edit-field" %></div>

        <div><%= f.label :current_password, class: "field-label-special" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: "edit-field" %></div>

        <div><%= f.submit "Update", class: "btn" %></div>
      <% end %>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn" %></p>

      <%= link_to "Back", :back %>

    </div>
</div>

<div class="buffer"></div>



