<% content_for :head do %>
	<%= stylesheet_link_tag 'users' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "static_helpers" %>
<% end %>

<% provide(:title, 'My Account') %>

<%= render 'layouts/facebooklikebox' %>

<div class="container">
	
	<%= render 'profile_header' %>
	<!-- Code snipped from partial above to be able to manually adjust which buttons i highlgihted depending on the view -->
		    <li id="user-links">
	        <ul class="profile-nav">
	          <li>
	            <%= link_to "My Account", user_path(current_user), class: "prof-btn selected-btn" %>
	          </li>
	          <li>
	            <%= link_to "Edit Profile & Settings", edit_user_path(current_user), class: "prof-btn" %>
	          </li>
	        </ul>
	      </li>
	    </ul>
	  </div>

	<div class="profile-content-area">
		<div class="contributions">
			<!-- user-contribution class used for reviews, rents, & photos -->
			<div class="user-contributions">
				<div class="contributions-header">
					<h2>Your Reviews</h2>
					<%= link_to "Write a new review", new_review_path %>
				</div>
				<% if @reviews.nil? || @reviews.blank? %>
					<p>You have not written any reviews yet</p>
				<% else %>
					<ul>
						<% @reviews.each do |review| %>
							<li>
								<div id="user-content-each">
									<h4><%= link_to review.building.name, building_path(review.building) %><span id="building-address-text">, <%= review.building.address %></span></h4>
							<%= raw("
								<p><span>Pros:</span> #{review.pros}</p>
								<p><span>Cons:</span> #{review.cons}</p>
							") %>
								</div>
								<div id="user-edit-link">
							<%= link_to "Edit Review", edit_review_path(review), id: "font-082em" %><br>
							<%= link_to "Delete Review", review_path(review), confirm: "Are you sure?", method: :delete, id: "font-082em" %>
								</div>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>

			<div class="user-contributions margin-top-1em">
				<div class="contributions-header">
					<h2>Rents You've Submitted</h2>
					<%= link_to "Add a new rent", new_rent_path %>
				</div>
				<% if @rents.nil? || @rents.blank? %>
				<p>You have not submited a rent yet</p>
				<% else %>
					<ul>
						<% @rents.each do |rent| %>
							<li>
								<div id="user-content-each">
								<h4><%= link_to rent.building.name, building_path(rent.building) %><span id="building-address-text">, <%= rent.building.address %></span></h4>
							<%= raw("
								<p><span>Rent:</span> #{rent.rent}</p>
								<p><span>Utilities:</span> #{rent.utilities}</p>
							") %>
								</div>
								<div id="user-edit-link">
							<%= link_to "Edit rent", edit_rent_path(rent), id: "font-082em" %><br>
							<%= link_to "Delete rent", rent_path(rent), confirm: "Are you sure?", method: :delete, id: "font-082em" %>
								</div>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>

			<div class="user-contributions margin-top-1em">
				<div class="contributions-header">
					<h2>Photos You've Added</h2>
					<%= link_to "Add a new photo", new_photo_path %>
				</div>
				<% if @photos.nil? || @photos.blank? %>
				<p>You have not uploaded a photo yet</p>
				<% else %>
					<ul>
						<% @photos.each do |photo| %>
							<li>
								<div id="user-content-each">
								<h4><%= link_to photo.building.name, building_path(photo.building) %><span id="building-address-text">, <%= photo.building.address %></span></h4>
								<%= image_tag photo.image.url, width: "200px" %>
								</div>
								<div id="user-edit-link">
							<%= link_to "Edit photo", edit_photo_path(photo), id: "font-082em" %><br>
							<%= link_to "Delete photo", photo_path(photo), confirm: "Are you sure?", method: :delete, id: "font-082em" %>
								</div>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>

			<div class="user-contributions margin-top-1em">
				<div class="contributions-header">
					<h2>Buildings You've Added</h2>
					<%= link_to "Add a new building", new_building_path %>
				</div>
				<% if @buildings.nil? || @buildings.blank? %>
					<p>You have not added a building</p>
				<% else %>
					<ul>
						<% @buildings.each do |building| %>
							<li>
								<div id="user-content-each">
								<h4><%= link_to building.name, building_path(building) %><span id="building-address-text"> | <%= building.address %>, <%= building.zip %></span></h4>
								<p><%= geogrify(building) %></p>
								</div>
								<div id="user-edit-link">
								</div>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>

		</div>

		<div class="user-sidebar">
			<h5>Thank you for contributing to our community</h5>
			<p>The reviews, rental data, and photos you submit add to a growing collection of information that will make the rental process easier and hold agents and landlords accountable for providing better living conditions and playing by the rules.</p>
			<p>Please take a moment to Like our site with your friends to help us in our mission:</p>
			<div class="fb-like-box" data-href="https://www.facebook.com/breezedigs" data-width="190" data-show-faces="false" data-stream="false" data-show-border="false" data-header="false"></div>
		</div>

	</div>
</div>
