<%= form_for @rent, validate: true do |f| %>

<div class="rent-form-fields">

	<div>
		<p>Monthly rent <span class="fw-300">($)</span></p>
		<%= f.text_field :rent,  
			placeholder: "ex. 1,100" %>
	</div>

	<div>
		<p>Monthly utilities <span class="fw-300">($)</span></p>
		<%= f.text_field :utilities, 
			placeholder: "ex. 95" %>
	</div>

	<div id="bedbath">
		<p>Number of bedrooms</p>
		<%= f.select :beds, "
		<option>studio</option>
		<option>1</option>
		<option>1.5</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		".html_safe, multiple: false %>
		<br />
	</div>

	<div id="bedbath">
		<p>Number of bathrooms</p>
			<%= f.select :baths, "
		<option>1</option>
		<option>1.5</option>
		<option>2</option>
		<option>2.5</option>
		<option>3</option>
		<option>3.5</option>
		<option>4</option>
		<option>5</option>
		<option>6</option>
		".html_safe, multiple: false %>
	</div>

	<div id="unit-num-field">
		<p>How current is this rent?</p>
		&nbsp;&nbsp;<i class="icon-info-sign"></i><br>
			<%= f.select :recency, "
		<option>Currently my rent</option>
		<option>1 year ago</option>
		<option>2 years ago</option>
		<option>3 years ago</option>
		".html_safe, multiple: false %>
	</div>

	<div id="unit-num-field">
		<p>Your unit number</p>
		&nbsp;&nbsp;<i class="icon-info-sign"></i><br>
		<%= f.text_field :unitnum, 
			placeholder: "ex. 1205 or 5C" %>
	</div>

	<div class="tell-us-more"><h5>Can you tell us a bit more?(optional)</h5></div><br>

	<div>
		<p>Square feet <span class="fw-300">(optional)</span></p>
		<%= f.text_field :sqft, 
			placeholder: "ex. 725" %>
	</div>

	<div>
		<p>Floor <span class="fw-300">(optional)</span></p>
		<%= f.text_field :floor, 
			placeholder: "12" %>
	</div>

	<div>
		<p>Additional notes that impact your rent <span class="fw-300">(optional)</span></p>
		<%= f.text_area :notes,
			placeholder: "Unique issues and/or good qualities of your unit such as: close to a train, superior finishes, etc.", size: "5x3" %>
	</div>

</div>

	<div id="create-review-btn">
	<%= f.submit 'Submit Your Rent', class: "btn btn-primary btn-large" %>
	</div>

<% end %>