<% content_for :head do %>
	<%= stylesheet_link_tag 'buildings' %>
<% end %>

<% content_for :head do %>
	<%= stylesheet_link_tag 'rents' %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "buildingprofile" %>
<% end %>

<% provide(:title, @building.name) %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="building-profile">
		<div class="building-content-area">
			<div class="building-topbar">
				<div class="building-info">
					<h1><%= @building.name %></h1>
					<p id="geography"><%= building_geography %></p>
					<p id="address-text"><%= @building.address %>, <%= @building.zip %></p>

					<div class="review-rent-btns"><!-- Write review & submit rent btns in bldg prof -->
						<%= link_to(raw("<button class=\"btn\">Submit a Rent</button>"), new_building_rent_path(@building)) %>
						<%= link_to(raw("<button class=\"btn\">Write Review</button>"), new_building_review_path(@building)) %>
					</div>

					<div class="building-stats">
						<%= render 'buildings/star_ratings' %>
					</div>
				</div>
				
				<div class="photos-area">
					<div class="main-photo">
					</div>

					<div class="thumbnails">
					</div>
					<%= link_to(raw("Add a Photo"), new_building_photo_path(@building)) %>
				</div>
			</div>
			
			<div class="building-data-toggle"><!-- To switch between reviews and rental data -->
				<%= link_to "<button class=\"toggle\">Reviews</button>".html_safe, building_reviews_path(@building) %>
				<%= link_to "<button class=\"toggle tselect\">Rental Data</button>".html_safe, building_rents_path(@building) %>
			</div>

			
			<div class="rental-data-area">
				<div class="rental-data">
					<div class="rent-table-key">
						<div id="rent-range-key"></div><p>Range</p>
						<div id="rent-avg-key"></div><p>Average</p>
					</div>
					<br>
					<table class="table rental-table">
						<thead>
			                <tr>
			                  <th id="unit-type"><h3>Unit Type</h3></th>
			                  <th id="avg-rent"><h3>Average:</h3></th>
			                  <th id="rent-prices-header">
			                  	<ul class="rental-data-table-prices">
			                  		<li id="first-rent-tick">
			                  		<p>$0.5k</p></li>
			                  		<li><p>$1k</p></li>
			                  		<li><p>$1.5k</p></li>
			                  		<li><p>$2k</p></li>
			                  		<li><p>$2.5k</p></li>
			                  		<li><p>$3k</p></li>
			                  		<li><p>$3.5k</p></li>
			                  		<li><p>$4k</p></li>
			                  	</ul>	
			                  </th>
			                </tr>
			              </thead>
			              <tbody>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				Studio, 1 bath
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents("studio", 1), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg("studio", 1) %></h5>
									<h5><%= get_util_avg("studio", 1) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar("studio", 1) %>
										<%= show_avg_bar("studio", 1) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				1 bed, 1 bath
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(1, 1), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(1, 1) %></h5>
									<h5><%= get_util_avg(1, 1) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(1, 1) %>
										<%= show_avg_bar(1, 1) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				1 bed, 1.5 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(1, 1.5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(1, 1.5) %></h5>
									<h5><%= get_util_avg(1, 1.5) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(1, 1.5) %>
										<%= show_avg_bar(1, 1.5) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				1.5 beds, 1 bath
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(1.5, 1), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(1.5, 1) %></h5>
									<h5><%= get_util_avg(1.5, 1) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(1.5, 1) %>
										<%= show_avg_bar(1.5, 1) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				2 beds, 1 bath
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(2, 1), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(2, 1) %></h5>
									<h5><%= get_util_avg(2, 1) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(2, 1) %>
										<%= show_avg_bar(2, 1) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				2 beds, 1.5 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(2, 1.5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(2, 1.5) %></h5>
									<h5><%= get_util_avg(2, 1.5) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(2, 1.5) %>
										<%= show_avg_bar(2, 1.5) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				2 beds, 2 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(2, 2), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(2, 2) %></h5>
									<h5><%= get_util_avg(2, 2) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(2, 2) %>
										<%= show_avg_bar(2, 2) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				2 beds, 2.5 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(2, 2.5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(2, 2.5) %></h5>
									<h5><%= get_util_avg(2, 2.5) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(2, 2.5) %>
										<%= show_avg_bar(2, 2.5) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				2 beds, 3 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(2, 2.5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(2, 3) %></h5>
									<h5><%= get_util_avg(2, 3) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(2, 3) %>
										<%= show_avg_bar(2, 3) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				3 beds, 2 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(3, 2), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(3, 2) %></h5>
									<h5><%= get_util_avg(3, 2) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(3, 2) %>
										<%= show_avg_bar(3, 2) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				3 beds, 2.5 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(3, 2.5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(3, 2.5) %></h5>
									<h5><%= get_util_avg(3, 2.5) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(3, 2.5) %>
										<%= show_avg_bar(3, 2.5) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				3 beds, 3 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(3, 3), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(3, 3) %></h5>
									<h5><%= get_util_avg(3, 3) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(3, 3) %>
										<%= show_avg_bar(3, 3) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				3 beds, 3.5 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(3, 3.5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(3, 3.5) %></h5>
									<h5><%= get_util_avg(3, 3.5) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(3, 3.5) %>
										<%= show_avg_bar(3, 3.5) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				3 beds, 4 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(3, 4), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(3, 4) %></h5>
									<h5><%= get_util_avg(3, 4) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(3, 4) %>
										<%= show_avg_bar(3, 4) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				4 beds, 2 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(4, 2), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(4, 2) %></h5>
									<h5><%= get_util_avg(4, 2) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(4, 2) %>
										<%= show_avg_bar(4, 2) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				4 beds, 3 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(4, 3), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(4, 3) %></h5>
									<h5><%= get_util_avg(4, 3) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(4, 3) %>
										<%= show_avg_bar(4, 3) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				4 beds, 3.5 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(4, 3.5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(4, 3.5) %></h5>
									<h5><%= get_util_avg(4, 3.5) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(4, 3.5) %>
										<%= show_avg_bar(4, 3.5) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				4 beds, 4 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(4, 4), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(4, 4) %></h5>
									<h5><%= get_util_avg(4, 4) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(4, 4) %>
										<%= show_avg_bar(4, 4) %>
									</div>
								</td>
			              	</tr>

			              	<tr class="rent-row">
			              		<td id="rent-type-cell">
			              			<h4>
			              				4 beds, 5 baths
			              			</h4>
			              			<p>(<%= pluralize(@rents.count_rents(4, 5), 'Rent') %>)</p>
			              		</td>
								<td id="rent-avg-cell">
									<h5><%= get_rent_avg(4, 5) %></h5>
									<h5><%= get_util_avg(4, 5) %></h5>
								</td>
								<td id="rent-bars-cell">
									<div class="rent-holder">
										<%= show_rent_bar(4, 5) %>
										<%= show_avg_bar(4, 5) %>
									</div>
								</td>
			              	</tr>

			              </tbody>
					</table>
				</div>
			</div>
			</div>
			<div class="building-sidebar">
				<div class="map-area">
					
				</div>
				
				<div class="ad-holder-336">
					<div class="ad-336">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
