<% content_for :head do %>
	<%= stylesheet_link_tag 'reviews' %>
<% end %>

<% provide(:title, "Select a building") %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="main-content-area">
			

			<div class="select-building-box top">
				<h1>Step 1: Select a building for which to submit a rent</h1>
				<%= form_tag buildings_path, method: :get do %>
		 		<p>
		    	<%= text_field_tag :search, params[:search], placeholder: "City, building name, address, zip", class: "select-bldg-search-field"%>

				   	<button type="submit" class="btn btn-primary inline-block top">
		    		Search 
					</button>

				  	</p>
				<% end %>
			</div>

			<div class="select-building-featured">
				<h2>Some suggested buildings</h2>
				<ul class="random-buildings-ul">
				<% @featured.each do |building| %>
					<li class="featured-building">
						<h4><%= building.name %></h4>
						<div class="random-image-container">
							<%= link_to(image_tag(building.photos.first.image.url, width: "120px"), building_path(building)) %>
						</div>
						<% if building.reviews.nil? || building.reviews.blank? %>
							<img src="/assets/stars/star0.png" height="16px" width="80px">
						<% else %>
						<%= star_image((building.reviews.average("overall")*4).round) %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>

		</div>
	</div>
</div>