<% if @buildings.empty? %>
	<%= render 'noresults' %>
	<% else %>
<ul> 
	<% @buildings.each do |building| %>

		<%= link_to building do %>
			<li class="building-listing">

				<div class="building-image">
					<center>
					<% if building.photos.blank? %>
						<%= image_tag 'nobuildingimage.png', size: "125x125" %>
					<% else %>
						<%= image_tag building.photos.first.image.url, size: "125x125" %>
					<% end %>
				</center>
				</div>

				<div class="building-listing-info">
					<div>
						<h3><%= building.name%></h3>
						<% if building.reviews.nil? || building.reviews.blank? %>
							<img src="/assets/stars/star0.png" height="16px" width="80px">
						<% else %>
						<%= star_image((building.reviews.average("overall")*4).round) %>
						<% end %>
					</div>
					<h4>
					<%= geogrify(building) %>
					</h4>
					<span><%= building.address %></span>
					
						<% if building.reviews.blank? %>
						<%= raw("<p>") %><%= "No reviews yet" %><%= raw("</p>") %>						
						<%= link_to(raw("<button class=\"btn\">Submit a Rent</button>"), new_building_rent_path(building)) %>
						<%= link_to raw("<button class=\"btn\">Write the first review</button>"), new_building_review_path(building) %>
						<% else %>
						<%= raw("<p id=\"reviews-count\">(#{building.reviews.count} Reviews)</p>") %>
						<%= raw("<p>\"#{building.reviews.map(&:pros).first} reviews\"") %>
						<% end %>
				</div>
							
			</li>
		<% end %>
	<% end %>
</ul>
<%= paginate @buildings %>

<% end %>