<% if @buildings.empty? %>
	<%= render 'noresults' %>
	<% else %>
<ul> 
	<% @buildings.each do |building| %>

		<%= link_to building do %>
			<li class="building-listing">

				<div class="building-image">
				<%= image_tag 'default_building_icon.png', size: "125x125" %>
				</div>

				<div class="building-listing-info">
					<div>
						<h3><%= building.name%></h3>

					</div>
					<h4>
					<%= geogrify(building) %>
					</h4>
					<span><%= building.address %></span>
					<p>
						<%= building.reviews.map(&:pros) %>
					</p>
				</div>
							
			</li>
		<% end %>
	<% end %>
</ul>
<%= paginate @buildings %>

<% end %>