<%= form_for @building, validate: true do |f| %>

<div class="building-form-fields">

	<div id="building-name">
		<p>Building name:</p>
		<%= f.text_field :name,
			placeholder: "Name or address", style: "width: 100%;" %>
		<br />
	</div>

	<div id="address-field">
		<p>Street address:</p>
		<%= f.text_field :address,
			placeholder: "Full street address", style: "width: 100%;" %>
		<br />
	</div>

	<div id="zip">
		<p>Zip code:</p>
		<%= f.text_field :zip, 
			style: "width: 100%;", 
			placeholder: "Zip code" %>
		<br />
	</div>

	<div id="city">
		<p>City:</p>
		<%= f.collection_select(:city_id, City.order('name ASC'),  :id, :name_with_state, {:prompt   => "Select a City"}, {:id => 'cities_select'}) %>
		<br />
	</div>

	<div id="area">
		<p>City area (optional):</p>
		<%= f.collection_select(:area_id, [], :id, :name, {:prompt   => "Select an Area"}, {:id => 'areas_select'}) %>
		<br />
	</div>

	<div id="neighborhood">
		<p>Neighborhood (optional):</p>
		<%= f.collection_select(:neighborhood_id, [], :id, :name, {:prompt   => "Select a Neighborhood"}, {:id => 'neighborhoods_select'}) %>
		<br />
	</div>

	<div id="management">
		<p>Management/Landlord (optional):</p>
		<%= f.text_field :management,
			placeholder: "Management company or landlord", 
			style: "width: 96%;" %>
		<br />
	</div>

</div>

	<div id="create-building-btn">
	<%= f.submit 'Create building', class: "btn btn-primary btn-large" %>
	</div>

<% end %>