<ul class="review-buttons">
	<%= link_to "" do %>
		<li class="review-btn first-review-btn" id="review-selected">
			Pros & cons
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Neighborhood
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Management
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Staff
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Amenities
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Noise
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Safety
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Maintenance
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Transportation
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Construction
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Parking
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			People
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn last-review-btn">
			Nightlife
		</li>
	<% end %>
<ul>
	<div id="review-side-placeholder">
	</div>