<div id="overall-rating-div">
	<ul>
		<li>
			<h4><span>Overall Rating:</span></h4>
		</li>
		<li id="overall-avg-stars">
			<% if @reviews.average_review_rating("overall").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("overall")*4).round) %>
			<% end %>
		</li>
	</ul>
</div>
<div class="stats-labels">
	<ul>
		<li>
			<h4>Management Rating:</h4>
		</li>
		<li>
			<h4>Staff Rating:</h4>
		</li>
		<li>
			<h4>Maintenance Rating:</h4>
		</li>
		<li>
			<h4>Amenities Rating:</h4>
		</li>
		<li>
			<h4>Neighborhood Rating:</h4>
		</li>
		<li>
			<h4>Safety Rating:</h4>
		</li>
		<li>
			<h4>Noise Rating:</h4>
		</li>
		<li>
			<h4>Transporation Rating:</h4>
		</li>
	</ul>
</div>
<div class="stats-stars">
	<ul>
		<li>
			<% if @reviews.average_review_rating("management_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("management_rating")*4).round) %>
			<% end %>
		</li>
		<li>
			<% if @reviews.average_review_rating("staff_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("staff_rating")*4).round) %>
			<% end %>
		</li>
		<li>
			<% if @reviews.average_review_rating("maintenance_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("maintenance_rating")*4).round) %>
			<% end %>
		</li>
		<li>
			<% if @reviews.average_review_rating("amenities_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("amenities_rating")*4).round) %>
			<% end %>
		</li>
		<li>
			<% if @reviews.average_review_rating("neighborhood_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("neighborhood_rating")*4).round) %>
			<% end %>
		</li>
		<li>
			<% if @reviews.average_review_rating("safety_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("safety_rating")*4).round) %>
			<% end %>
		</li>
		<li>
			<% if @reviews.average_review_rating("noise_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("noise_rating")*4).round) %>
			<% end %>
		</li>
		<li>
			<% if @reviews.average_review_rating("transportation_rating").nil? %>
				<%= star_image(0) %>
			<% else %>
				<%= star_image((@reviews.average("transportation_rating")*4).round) %>
			<% end %>
		</li>
	</ul>
</div>