<% content_for :head do %>
	<%= stylesheet_link_tag 'buildings' %>
	<%= stylesheet_link_tag 'gmaps4rails' %>
<% end %>

<% provide(:title, 'Search buildings') %>
<%= render 'layouts/gmaps_autozoom' %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="em-buffer-3"></div>

		<div class="search-sidebar">
			<div class="map-area">
				<%= gmaps({
  				"map_options" => {"auto_zoom" => true },
 				"markers" => {"data" => @json }
				}) %>
			</div>
			<div class="search-options">
				
			</div>
		</div>

		<div class="building-results">
			
			<div class="results-header">
			<% if @buildingresults.nil? || @buildingresults.empty? %>
				<h2>Your search did not return any results</h2>
			<% else %>
				<h2>Your search returned <%= pluralize(@buildings.count, "result") %></h2>
			<% end %>
			<%= link_to "Add building", new_building_path %>
			</div>

			<%= render 'buildingresults' %>
		</div>
		<div class="buffer"></div>
	</div>
</div>