<% content_for :head do %>
	<%= stylesheet_link_tag 'buildings' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag "static_helpers" %>
<% end %>

<% provide(:title, 'Create a new building') %>

<div class="bg-texture-wrapper">
  <div class="container">
      <% if @product && !@product.new_record %>
        <%= render 'thanks' %>
      <% else %>
        <%= render 'newbuildingform' %>
      <% end %>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#cities_select').change(function() {
      $.ajax({
        url: "<%= update_areas_path %>",
        data: {
          city_id : $('#cities_select').val()
        },
        dataType: "script"
      });
    });
    $('#areas_select').change(function() {
      $.ajax({
        url: "<%= update_neighborhoods_path %>",
        data: {
          area_id : $('#areas_select').val()
        },
        dataType: "script"
      });
    });
  });
</script>