<% provide(:title, 'Sign in') %>

<!-- Content below -->

<div class="main-content-area">
	<div class="container">

		<!--Flash Notice -->
		<div class="buffer"></div><div class="buffer-small"></div>	
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
		<div class="buffer-small"></div>	
		
		<!-- Content Area -->

		<div class="login-graphic">
			<h3>Find your next digs</h3>
			<%= image_tag "digs.png" %>
		</div>

		<div class="login-box">
			<h2>Sign in</h2>
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			  <div>
			  <%= f.email_field :email, 
			  		:autofocus => true,
			  		class: "auth-field", 
				  	style: "color: #5b5e62;", 
				  	placeholder: "Email" %></div>

			  <div>
			  <%= f.password_field :password,
			  		class: "auth-field", 
				  	style: "color: #5b5e62;", 
				  	placeholder: "Password" %></div>

			  <div class="session-elements">	
				  <% if devise_mapping.rememberable? -%>
				    <div id="rem-box">
				    	<%= f.label :remember_me, style: "font-size:0.9em; display:inline;" %>
				    	<%= f.check_box :remember_me, style: "display:inline" %></div>
				  <% end -%>

				  	<br><%= f.submit "Sign in", class: "btn btn-primary" %><br>
					<% end %>
					<br><%= render "devise/shared/links" %>
			</div>
			<div class="buffer-small"></div>
			<div class="buffer-small"></div>
			<div class="buffer-small"></div>
		</div>
	</div>
</div>

