<% provide(:title, 'Sign in') %>

<!-- Content below -->

<div class="center-div">
<div class="container no-wrap">
	<div class="main-content-area">

		<!--Flash Notice -->
		<div class="buffer-small"></div>	
			<% flash.each do |key, value| %>
				<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>
		<div class="buffer-small"></div>	
		
		<!-- Content Area -->

		<div class="login-graphic">
			<%= image_tag "digs.png" %>
		</div>

		<div class="login-box">
			<div class="authentication">
				<h2>Login with:</h2>
					<%= link_to(raw("
					<button class=\"social-button facebook\" id=\"auth-ext-btn\"><span>w</span>&nbsp;&nbsp;Facebook</button>"),
					user_omniauth_authorize_path(:facebook)) %>
				<br>
					<%= link_to(raw("
					<button class=\"social-button twitter\" id=\"auth-ext-btn\"><span>t</span>&nbsp;&nbsp;&nbsp;&nbsp;Twitter</button>"),
					user_omniauth_authorize_path(:twitter)) %>
			</div>
			<div class="normal-auth">
				<h2>or...Sign in with email:</h2>
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
				  <div>
				  <%= f.email_field :email, 
				  		:autofocus => true,
				  		class: "auth-field", 
					  	style: "color: #5b5e62;", 
					  	placeholder: "Email" %></div>

				  <div>
				  <%= f.password_field :password,
				  		class: "auth-field", 
					  	style: "color: #5b5e62;", 
					  	placeholder: "Password" %></div>

				  <div class="session-elements">	
					  <% if devise_mapping.rememberable? -%>
					    <div id="rem-box">
					    	<%= f.label :remember_me, style: "font-size:0.9em; display:inline;" %>
					    	<%= f.check_box :remember_me, style: "display:inline" %>
					    </div>
					 	 <% end %>

					  	<br>
					  	<%= f.submit "Sign in", class: "btn btn-primary" %><br>
						<% end %>
						<br><%= render "devise/shared/links" %>
						</div>
					</div>
				</div>
			<div class="buffer-large"></div>
		</div>
	</div>
</div>

