<ul>
	<%= link_to "" do %>
		<li class="review-btn first-review-btn" id="review-selected">
			Pros
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Cons
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Management, Staff, Maintenance
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Neighborhood, Safety, Noise
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			Amenities, Transportation, Parking, Units
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn">
			People, Events, Nightlife
		</li>
	<% end %>

	<%= link_to "" do %>
		<li class="review-btn last-review-btn">
			Advice
		</li>
	<% end %>
<ul>