<% content_for :head do %>
	<%= stylesheet_link_tag 'buildings' %>
<% end %>

<% content_for :head do %>
	<%= stylesheet_link_tag 'reviews' %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "reviews" %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "buildings" %>
<% end %>

<% provide(:title, @building.name) %>

<div class="bg-texture-wrapper">
	<div class="container-wider center-div">
		<div class="building-profile">
			<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>

			<div class="building-content-area">
			<div class="building-topbar">
				<div class="building-info">
					<h1><%= @building.name %></h1>
					<p id="geography"><%= building_geography %></p>
					<p id="address-text"><%= @building.address %>, <%= @building.zip %></p>

					<div class="review-rent-btns"><!-- Write review & submit rent btns in bldg prof -->
						<%= link_to(raw("<button class=\"btn\">Submit a Rent</button>"), new_building_rent_path(@building)) %>
						<%= link_to(raw("<button class=\"btn\">Write Review</button>"), new_building_review_path(@building)) %>
					</div>

					<div class="building-stats">
						<%= render 'buildings/star_ratings' %>
					</div>
				</div>
				
				<div class="photos-area">
					<div class="main-photo">
					</div>

					<div class="thumbnails">
					</div>
					<%= link_to(raw("Add a Photo"), new_building_photo_path(@building)) %>
				</div>
			</div>

			<div class="building-data-toggle"><!-- To switch between reviews and rental data -->
				<%= link_to "<button class=\"toggle tselect\">Reviews</button>".html_safe, building_reviews_path(@building) %>
				<%= link_to "<button class=\"toggle\">Rental Data</button>".html_safe, building_rents_path %>
			</div>

				<div class="reviews">
					<div class="review-header">
						<h2><%= pluralize(@reviews.count,'review') %> for this building</h2>
					</div>

					<div class="review-content">
							<% @reviews.each do |review| %>
							<div class="single-review-header">
								<div>									
									<h4>Overall rating:</h4>
									<%= star_image((review[:overall]*4).round) %>
									<p>
										Posted by: <%= review.user.first_name.capitalize %> <%= review.user.last_name[0,1].capitalize %>. on <%= review.created_at.strftime("%d %b. %Y") %>
									</p>
								</div>
								<div>

								</div>
							</div>
							<div class="review">
								<div class="other-review-ratings">
									<div class="other-stats-labels">
										<ul>
											<li>
												<h4>Management Rating:</h4>
											</li>
											<li>
												<h4>Staff Rating:</h4>
											</li>
											<li>
												<h4>Maintenance Rating:</h4>
											</li>
											<li>
												<h4>Amenities Rating:</h4>
											</li>
											<li>
												<h4>Neighborhood Rating:</h4>
											</li>
											<li>
												<h4>Safety Rating:</h4>
											</li>
											<li>
												<h4>Noise Rating:</h4>
											</li>
											<li>
												<h4>Transporation Rating:</h4>
											</li>
										</ul>
									</div>
									<div class="review-other-stars">
										<ul>
											<li>
												<%= light_star_image((review[:management_rating]*4).round) %>
											</li>
											<li>
												<%= light_star_image((review[:staff_rating]*4).round) %>	
											</li>
											<li>
												<%= light_star_image((review[:maintenance_rating]*4).round) %>
											</li>
											<li>
												<%= light_star_image((review[:amenities_rating]*4).round) %>
											</li>
											<li>
												<%= light_star_image((review[:neighborhood_rating]*4).round) %>
											</li>
											<li>
												<%= light_star_image((review[:safety_rating]*4).round) %>
											</li>
											<li>
												<%= light_star_image((review[:noise_rating]*4).round) %>
											</li>
											<li>
												<%= light_star_image((review[:transportation_rating]*4).round) %>
											</li>
										</ul>
									</div>
								</div>
								<div class="review-text">
								<p><span>Pros -</span> <%= raw("#{review.pros}")%></p>
								<p><span>Cons -</span> <%= raw("#{review.cons}")%></p>
								<p><span>Management & Staff -</span> <%= raw("#{review.msm}")%></p>
								<p><span>Neighborhood, Safety & Noise -</span> <%= raw("#{review.nsn}")%></p>
								<p><span>Amenities & Unit Quality -</span> <%= raw("#{review.unitamen}")%></p>
								<p><span>Parking & Transportation -</span> <%= raw("#{review.parktrans}")%></p>
								<p><span>Advice -</span> <%= raw("#{review.advice}")%></p>
								<br><%= share_icons %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
				<div class="building-sidebar">
					<div class="map-area">
						<%= gmaps4rails(@json) %>
					</div>

					<div class="ad-holder-336">
						<div class="ad-336">

						</div>
					</div>

				</div>
	</div>
</div>
</div>
