<% content_for :head do %>
	<%= stylesheet_link_tag 'buildings' %>
<% end %>

<% content_for :head do %>
	<%= stylesheet_link_tag 'reviews' %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "reviews" %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "buildings" %>
<% end %>


<% provide(:title, @building.name) %>

<div class="bg-texture-wrapper">
	<div class="container-wider center-div">
		<div class="building-profile">
			<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>

			<div class="building-topbar">
				<div class="building-info">
					<h1><%= @building.name %></h1>
					<p id="geography"><%= building_geography %></p>
					<p id="address-text"><%= @building.address %>, <%= @building.zip %></p>

					<div class="review-rent-btns"><!-- Write review & submit rent btns in bldg prof -->
						<%= link_to(raw("<button class=\"btn\">Submit a Rent</button>"), new_building_rent_path(@building)) %>
						<%= link_to(raw("<button class=\"btn\">Write Review</button>"), new_building_review_path(@building)) %>
					</div>

					<div class="building-stats">
						<%= render 'buildings/star_ratings' %>
					</div>
				</div>

				<div class="interactive-holder">
					<div class="building-interactive-box">
						<div class="photos-area">
							<div class="main-photo">
							</div>

							<div class="thumbnails">
							</div>
							<%= link_to(raw("Add a Photo"), new_building_photo_path(@building)) %>
						</div>

						<div class="map-area">
						
						</div>
					</div>
				</div>
			</div>

			<div class="building-data-toggle"><!-- To switch between reviews and rental data -->
				<%= link_to "<button class=\"toggle tselect\">Reviews</button>".html_safe, building_reviews_path(@building) %>
				<%= link_to "<button class=\"toggle\">Rental Data</button>".html_safe, building_rents_path %>
			</div>

				<div class="reviews">
					<div class="review-buttons-box">
						<%= render 'reviewbuttons' %>
					</div>

					<div class="review-content">
						<div class="single-review">
							<% @reviews.each do |review| %>
							<%= raw("<div class=\"review unhidden\" id=\"pros\">#{review.pros}</div>") %>
							<%= raw("<div class=\"review\" id=\"cons\">#{review.cons}</div>") %>
							<%= raw("<div class=\"review\" id=\"mgmt\">#{review.msm}</div>") %>
							<%= raw("<div class=\"review\" id=\"rnsn\">#{review.nsn}</div>") %>
							<%= raw("<div class=\"review\" id=\"uamen\">#{review.unitamen}</div>") %>
							<%= raw("<div class=\"review\" id=\"ptrans\">#{review.parktrans}</div>") %>
							<%= raw("<div class=\"review\" id=\"adv\">#{review.advice}</div>") %>
							<% end %>
						</div>
					</div>
				</div>

				<div class="building-sidebar">
					ad
				</div>

			<div class="building-contact">
			</div>

		</div>
	</div>
</div>
