<% content_for :head do %>
	<%= stylesheet_link_tag 'buildings' %>
	<%= stylesheet_link_tag 'reviews' %>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag "reviews" %>
	<%= javascript_include_tag "buildings" %>
<% end %>

<% provide(:title, @building.name) %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="building-profile">
			<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
			<% end %>

			<div class="building-content-area">
			<%= render 'buildings/building_header' %>

			<div class="building-data-toggle"><!-- To switch between reviews and rental data -->
				<%= link_to "<button class=\"toggle tselect\">Reviews</button>".html_safe, building_reviews_path(@building) %>
				<%= link_to "<button class=\"toggle\">Rental Data</button>".html_safe, building_rents_path %>
			</div>

				<div class="reviews">
					<div class="review-header">
						<h2><%= pluralize(@reviews.count,'review') %> for this building</h2>
					</div>

					<div class="review-content">
						<% if @reviews.nil? || @reviews.blank? %>
							<%= render 'noreviews' %>
						<% else %>
							<% @reviews.each do |review| %>
							<div class="single-review-header">
								<div>									
									<h4>Overall rating:</h4>
									<%= star_image((review[:overall]*4).round) %>
									<p>
										Posted by: <%= review.user.first_name.capitalize %> <%= review.user.last_name[0,1].capitalize %>. on <%= review.created_at.strftime("%d %b. %Y") %>
									</p>
								</div>
								<div>

								</div>
							</div>
							<div class="review">
								<div class="other-review-ratings">
									<div class="other-stats-labels">
										<ul>
											<li>
												<h4>Management Rating:</h4>
											</li>
											<li>
												<h4>Staff Rating:</h4>
											</li>
											<li>
												<h4>Maintenance Rating:</h4>
											</li>
											<li>
												<h4>Amenities Rating:</h4>
											</li>
											<li>
												<h4>Neighborhood Rating:</h4>
											</li>
											<li>
												<h4>Safety Rating:</h4>
											</li>
											<li>
												<h4>Noise Rating:</h4>
											</li>
											<li>
												<h4>Transporation Rating:</h4>
											</li>
										</ul>
									</div>
									<div class="review-other-stars">
										<ul>
											<li>
												<% if review[:management_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:management_rating]*4).round) %>
												<% end %>
											</li>
											<li>
												<% if review[:staff_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:staff_rating]*4).round) %>
												<% end %>	
											</li>
											<li>
												<% if review[:maintenance_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:maintenance_rating]*4).round) %>
												<% end %>
											</li>
											<li>
												<% if review[:amenities_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:amenities_rating]*4).round) %>
												<% end %>
											</li>
											<li>
												<% if review[:neighborhood_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:neighborhood_rating]*4).round) %>
												<% end %>
											</li>
											<li>
												<% if review[:safety_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:safety_rating]*4).round) %>
												<% end %>
											</li>
											<li>
												<% if review[:noise_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:noise_rating]*4).round) %>
												<% end %>
											</li>
											<li>
												<% if review[:transportation_rating].nil? %>
													<p>N/A</p>
												<% else %>
													<%= light_star_image((review[:transportation_rating]*4).round) %>
												<% end %>
											</li>
										</ul>
									</div>
								</div>
								<div class="review-text">
								<!-- Pros & Cons always required so no need to have conditional logic -->
								<p><span>Pros -</span> <%= raw("#{review.pros}")%></p>
								<p><span>Cons -</span> <%= raw("#{review.cons}")%></p>
								<!-- Checks if this was filled in & displays nothing if blank -->
								<% if review.msm.blank? %>
								<% else %>								
								<p><span>Management & Staff -</span> <%= raw("#{review.msm}")%></p>
								<% end %>
								<!-- Checks if this was filled in & displays nothing if blank -->
								<% if review.nsn.blank? %>
								<% else %>
								<p><span>Neighborhood, Safety & Noise -</span> <%= raw("#{review.nsn}")%></p>
								<% end %>
								<!-- Checks if this was filled in & displays nothing if blank -->
								<% if review.unitamen.blank? %>
								<% else %>
								<p><span>Amenities & Unit Quality -</span> <%= raw("#{review.unitamen}")%></p>
								<% end %>
								<!-- Checks if this was filled in & displays nothing if blank -->
								<% if review.parktrans.blank? %>
								<% else %>
								<p><span>Parking & Transportation -</span> <%= raw("#{review.parktrans}")%></p>
								<% end %>
								<!-- Checks if this was filled in & displays nothing if blank -->
								<% if review.advice.blank? %>
								<% else %>
								<p><span>Advice -</span> <%= raw("#{review.advice}")%></p>
								<% end %>
								<br><%= share_icons %>
								</div>
							</div>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>
			<%= render 'buildings/building_sidebar' %>
	</div>
</div>
</div>
