<% content_for :head do %>
	<%= stylesheet_link_tag 'reviews' %>
<% end %>

<% provide(:title, "Write a new review") %>

<div class="bg-texture-wrapper">
	<div class="container">
		<div class="new-review-form">
			<h1>Your review will help other renters - thank you!</h1>
			<div class="building-profile-new">
				<div class="building-text">
					<h2><%= link_to @building.name, building_path(@building) %></h1>
					<p id="geography"><%= geogrify(@building) %></p>
					<p id="address-text"><%= @building.address %>, <%= @building.zip %></p>
				</div>
			</div>

			<%= render 'newreviewfields' %>

		</div>

		<div class="new-review-sidebar">
			<h2>&nbsp;To our community:&nbsp;</h2>
			<p>Our number one priority is ensuring the accuracy and objectivity of our review and building data</p>
			
			<p>We review each submission before approving them to be used and will research any information we feel may be fraudulent or inaccurate and take the appropriate action</p>

			<br>
			<p id="bold">Things that we will not allow in reviews:</p>

			<br>
			<ul>
				<li><p>Rants, venting, or obscenities</p></li>
				<li><p>Personal insults or defamatory attacks (by name, title, or association)</p></li>
				<li><p>Aggressive or discriminatory language</p></li>
				<li><p>Content not relevant or helpful to other renters</p></li>
				<li><p>Text in ALL CAPS or using excessively poor grammar</p></li>
			</ul>
		</div>
	</div>
</div>	