<li id="footer-cities">
	<ul>
		<%= show_cities(0,17) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= show_cities(17,17) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= show_cities(34,17) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= show_cities(51,17) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= show_cities(68,17) %>
	</ul>
</li>