<li id="footer-cities">
	<ul>
		<%= footer_cities(1,17) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= footer_cities(18,34) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= footer_cities(35,51) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= footer_cities(52,68) %>
	</ul>
</li>

<li id="footer-cities">
	<ul>
		<%= footer_cities(69,84) %>
	</ul>
</li>