<footer>
	<div class="container">
		<div class="upper-footer">
			<h3>View apartments in:</h3>
			<ul class="footer-col no-wrap">
				<%= render 'layouts/footerstaticcities' %>
			</ul>
			<div class="right"><%= link_to "View all cities >>", allcities_path %></div>
		</div>
	</div>
<div class="buffer-small"></div>
		<div class="lower-footer">
			<div class="container">
				<ul class="footer-col no-wrap">
					<li>
						<h3 id="footer-title">General</h3>
						<ul>
							<li><%= link_to "Home", root_path %></li>
							<li><%= link_to "Sign Up", new_user_registration_path %></li>
							<li><%= link_to "Sign In", new_user_session_path %></li>
							<li><%= link_to "Write a review", new_review_path %></li>
							<li><%= link_to "Add a building", new_building_path %></li>
						</ul>
					</li>

					<li>
						<h3 id="footer-title">Our Company</h3>
						<ul>
							<li><%= link_to "About Us", about_path %></li>
							<li><%= link_to "Careers", careers_path %></li>
							<li><%= link_to "Contact", contact_us_path %></li>
						</ul>
					</li>

					<li>
						<h3 id="footer-title">Useful</h3>
						<ul>							
							<li><%= link_to "Advertise", advertise_path %></li>
							<li><%= link_to "Managers", managers_path %></li>
							<li><%= link_to "Partners", partners_path %></li>
						</ul>
					</li>

					<li>
						<h3 id="footer-title">Please Note</h3>
						<ul>
							
							<li><%= link_to "Terms of Use", terms_path %></li>
							<li><%= link_to "Privacy Policy", privacy_path %></li>
							<li><%= link_to "Review Guidelines", guidelines_path %></li>
						</ul>
					</li>

					<li id="social-col">
					<h3 id="footer-title">Social</h3>
						<ul>

							<a href="">
							<li class="social-button facebook" id="social-button-container">
								<span>w</span>
								<p>Like us on Facebook</p>
							</li>
							</a>

							<a href="">
							<li class="social-button twitter" id="social-button-container">
								<span>t</span>
								<p>&nbsp;Share with Twitter</p>
							</li>
							</a>

							<a href="">
							<li class="social-button google" id="social-button-container">
								<span>g</span>
								<p>Share with Google</p>
							</li>
							</a>
						</ul>
					</li>
				</ul>

			<br>
					<div id="copyright-footer">
						<%= link_to image_tag("BreezedigsLogo.png", size: "125x34"), root_path %>
						<p>&#169; Breezedigs. All rights reserved. Breezedigs, Dig Seeker, Dig Finder, and the Breezedigs logo are the registered trademarks of Breezedigs, Inc</p>
					</div>
			</div>
		</div>
</footer>







