<div class="maintopbar">
	<div class="container no-wrap">
		<nav class="header-box logo-box">
			<div id="logo">
				<%= link_to(
				image_tag("BreezedigsLogo.png", 
				size: "160x44",
				alt: "Edit Entry",
				mouseover: "breezedigslogo_hover.png"), 
				root_path) 
				%>
			</div>
		</nav>

		<nav class="header-buttons">
		</nav>

		<nav class="header-box">
			<ul class="header-links">
				<li>
				<%= link_to(raw("<strong>Submit a Rent</strong>"), new_rent_path) %>
				</li>
				<li>
				<%= link_to(raw("<strong>Write a Review</strong>"), new_review_path) %>
				</li>
			<% if user_signed_in? %>
					<li><%= link_to "My Account", user_path(current_user) %></li>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
			<% else %>
					<li><%= link_to "Sign up", new_user_registration_path %></li>	
					<li><%= link_to "Sign in", new_user_session_path %></li>
				</ul>
			<% end %>
		</nav>
	</div>
</div>


<% if controller.action_name != 'home' %>
	<%= render 'layouts/searchbar' %>
<% end %>



