<div class="em-buffer-4"></div>

<div class="hero">
	<div class="container">

		<div class="hero-text">
			<h1>The inside scoop on apartments</h1>
		</div>

		<div class="hero-search">
			<%= form_tag buildings_path, method: :get do %>
			  
			    <%= text_field_tag :search, params[:search], placeholder: "Building name, address, city, zip, or neighborhood" %>

		   	<button type="submit" class="hero-search-button">
    		<i class="icon-search icon-large"></i> 
			</button>

		  	</p>
			<% end %>
		</div>

		<div class="hero-links">
			<%= link_to "Write a review", new_review_path %>
			<%= link_to "Submit a rent", new_rent_path %>
		</div>

		<!--
		<div class="hero-details">
			<ul>
				<li><h3><%= @buildings.count %></h3><p>Buildings</p></li>
				<li><h3><%= @reviews.count %></h3><p>Reviews</p></li>
				<li><h3><%= @rents.count %></h3><p>Rents Prices</p></li>
			</ul>
		</div>
		-->

	</div>
</div>

<div class="home-stripe">
	<div class="container">
		<h3>Featured buildings:</h3>		
		<ul class="featured-buildings-ul">
		<% @featured.each do |building| %>
			<li class="featured-building">
				<h4><%= building.name %></h4>
				<div class="featured-image-container">
					<%= link_to(image_tag(building.photos.first.image.url, width: "140px"), building_path(building)) %>
				</div>
				<% if building.reviews.nil? || building.reviews.blank? %>
					<img src="/assets/stars/star0.png" height="16px" width="80px">
				<% else %>
				<%= star_image((building.reviews.average("overall")*4).round) %>
				<% end %>
			</li>
		<% end %>
		</ul>	
	</div>
</div>