<div class="em-buffer-4"></div>

<div class="hero">
	<div class="container">

		<div class="hero-text">
			<h1>The inside scoop on [<%= @buildings %>] apartments</h1>
		</div>

		<div class="hero-search">
			<%= form_tag buildings_path, method: :get do %>
			  
			    <%= text_field_tag :search, params[:search], placeholder: "Building name, address, street, city, zip, or neighborhood" %>

		   	<button type="submit" class="hero-search-button">
    		<i class="icon-search icon-large"></i> 
			</button>

		  	</p>
			<% end %>
		</div>

		<div class="hero-links">
			<%= link_to "Write a review", new_review_path %>
			<%= link_to "Submit a rent", new_rent_path %>
		</div>

		<!--
		<div class="hero-details">
			<ul>
				<li><h3></h3><p>Buildings</p></li>
				<li><h3></h3><p>Reviews</p></li>
				<li><h3></h3><p>Rents Prices</p></li>
			</ul>
		</div>
		-->

	</div>
</div>

<!-- <div class="home-stripe">
	<div class="container">
	
	</div>
</div> -->