<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= yield :head %>
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>
  <%= csrf_meta_tags %>

</head>

<body>

<%= render 'layouts/header' %>
<div class="site-container">

	<div class="container">	
		<% flash.each do |key, value| %>
			<%= content_tag(:div, value, class: "alert alert-#{key}") %>
		<% end %>

			<div>
				<%= yield %>
			</div>
		<%= render 'layouts/footer' %>
	</div>

</div>

</body>
</html>