<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= yield :head %>
  <%= javascript_include_tag "application", "rails.validations" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

 	<!--[if lt IE 8]>
	<%= stylesheet_link_tag "font-awesome-ie7.min.css", media: "all" %>
	<![endif]-->

</head>

<body>
	<%= yield :scripts %>
	<div id="holder">

	<%= render 'layouts/header' %>	

	<div id="body">
		<%= yield %>
	</div>

<%= render 'layouts/footer' %>
</div>

</body>
</html>